.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: left;
}

.li a {
  display: block;
  color: hwb(0 96% 0%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 5px rgba(0, 0, 255, 0.763);
}

.li a:hover {
  background-color: #111;
  font-size: 75%;
  font-family: arial;
}

/* akhir class navbar */

h1 {
  color: rgb(37, 241, 14);
  font-family: Lobster, Monaco, monospace;
  font-size: 50px;
}

.black-text {
  text-align: left;
  color: red;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(45, 45, 45, 0.1);
  width: 18%;
}
.p {
  font-size: 16px;
  text-align: justify;
}
.h {
  font-family: Arial, Helvetica, sans-serif;
}
.smaller-image {
  width: 300px;
}
.thick-green-border {
  border-color: green;
  border-width: 6px;
  border-style: solid;
  border-radius: 5px;
}
div {
  width: 600px;
}
